<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить закуску</title>
    <th:block th:insert="~{blocks/bootstrap :: bootstraplink}"></th:block>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container" style="margin-top: 70px; margin-bottom: 50px">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-6">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <form th:action="@{/product/admin/add}" th:object="${product}" method="post">
                        <h2 class="text-center mb-5">Добавить закуску</h2>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="name">Название</label>
                            <input type="text" th:field="*{name}" id="name" class="form-control form-control-lg">
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="description">Описание</label>
                            <textarea th:field="*{description}" id="description" class="form-control form-control-lg"></textarea>
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="image">Ссылка на изображение</label>
                            <input type="text" th:field="*{image}" id="image" class="form-control form-control-lg">
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="min">Минимальный заказ, штук</label>
                            <input type="text" th:field="*{min}" id="min" class="form-control form-control-lg">
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="price">Цена за штуку</label>
                            <input type="text" th:field="*{price}" id="price" class="form-control form-control-lg">
                        </div>
                        <h5>Выбрать ингредиенты</h5>
                        <div th:each="ingredientAll : ${ingredientsAll}">
                            <input type="checkbox" th:field="*{ingredient}" th:value="${ingredientAll.id}">
                            <span th:text="${ingredientAll.name}"></span><br>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button  type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
<th:block th:insert="~{blocks/bootstrap :: bootstrapscript}"></th:block>
</html>