<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <th:block th:insert="~{blocks/bootstrap :: bootstraplink}"></th:block>
</head>
<body>
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container" style="margin-top: 70px; margin-bottom: 50px">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Войти</h2>
                            <form th:action="@{/account/login}" th:object="${loginDto}" method="post">
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="text" th:field="*{username}" id="username" class="form-control form-control-lg" />
                                    <label class="form-label" for="username">Логин</label>
                                    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                                </div>
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="password" th:field="*{password}" id="password" class="form-control form-control-lg" />
                                    <label class="form-label" for="password">Пароль</label>
                                    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button  type="submit" class="btn btn-primary">Войти</button>
                                </div>
                                <div class="text-center" style="color: red" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
                                <p class="text-center text-muted mt-5 mb-0">Нет аккаунта?
                                    <a href="/account/reg" class="fw-bold text-body"><u>Регистрация</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
    <th:block th:insert="~{blocks/bootstrap :: bootstrapscript}"></th:block>
</html>