<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <th:block th:insert="~{blocks/bootstrap :: bootstraplink}"></th:block>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container" style="margin-top: 70px; margin-bottom: 50px">

</div>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
<th:block th:insert="~{blocks/bootstrap :: bootstrapscript}"></th:block>
</html>